
.aave-display--container{
    grid-area: main-area;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.95) 100%); 
    background: rgba(0, 0, 0, 0); 
    color: #fff;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    text-align:left;
    justify-content:end;
}

.aave-bar--wrapper{
    height: 500px;
    width: 100%;
    background:rgba(255, 255, 255, 0.0);
}

.aave--graphOverlay-l0{
    position: absolute;
    margin-top: -680px;
    opacity: 0.3;
    margin-left: 350px;
    z-index: -3;
}

.display--hero-container{
display: flex;
justify-content:space-between;
width: 100%;
border-bottom: 1.5px solid rgba(82, 82, 82, 0.9);
}

.display--hero-left{
    font-size: 4rem;
    color: #b6509e;
    padding-left: 40px;
}

.display--hero-right{
    font-size: 4rem;
    color: #2cb8c3;
    padding-right: 40px;
}

.aave--graphOverlay-l0{
    position: absolute;
    top: 0px;
    left: 710px;
    z-index: -1;
    width: 2000px;
}

text{
    font-family: sans-serif;
    font-size: 3rem !important;
    fill: rgba(255, 255, 255, 0.295);
    fill: rgba(255, 255, 163, 0.377);
    pointer-events: none;
    /* transform: rotate(90deg) translateX(50px) translateY(-200px); */
}

.aave--coinName-wrapper {
    display: flex;
    justify-content: space-around;
}

.aave--coinName-text {
    width: 25%;
    text-align: center;
    font-size:3rem;
    font-weight:bold;
    border-top: solid 4px #2cb8c3;
    color: #2cb8c3;
    background: rgba(255, 255, 255, 0.596);
    color: rgba(0, 0, 0, 0.596);
    margin:0 .2rem;
}

.aave--coinName-title{
    background: rgba(0, 0, 0, 0.596);
    color: rgba(255, 255, 255, 0.801);
    font-weight:900;
}

.aave--coinName-data0{
    color: rgba(255, 255, 255, 0.596);
    color: #b6509e;
    border-top: solid 4px #b6509e;
    font-size: 2rem;
}

.aave--coinName-data1{
    color: #2cb8c3;
    border-top: solid 4px #2cb8c3;
}

.footer--wrapper{
    display: flex;
    position: absolute;
    justify-content: space-around;
    background:rgba(0, 0, 0, 0);
    font-size:2rem;
    font-weight:bold;
    color: #fafafa;
    top:-10px ;
    right:20px ;
}

.aave-section--title{
    position: absolute;
    left: 50vw;
    top: 3vh;
    font-size: 10rem;
    z-index: -1;
    color:rgba(255, 255, 255, 0.733);
}
.aave-section--subTitle{
    position: absolute;
    left: 50vw;
    top: 20vh;
    font-size: 7rem;
    z-index: -1;
    color:rgba(255, 255, 255, .4);
}
