.rateData--cell-wrapper{
    color: #383d51;
    color:rgba(255, 255, 255, 0.801);
    background: #f5f5f565;
    background: #383d5150;
    width: 100%;
    display: flex;
    flex-direction : column;
    font-weight: bold;
    padding-left: 0px;
}

.rateData--cell-container {
    width: 100%;
    display: flex;
    padding: 0;
    text-align: center;
    margin: auto;
    justify-content: center;
    /* line-height: 1rem; */
}

.rateData--cellTitle-container {
    width: 100%;
    display: flex;
    padding: 0;
    text-align: center;
    margin: auto;
    justify-content: center;
    line-height: 2rem;
}


.rateData--title-container{
    display: flex;
    flex-direction: row;
    background:rgba(255, 255, 255, 0.801);
    color: #383d51;
    z-index: 1;
    margin-top: 150px;
    font-size: 1.3rem;
    border-top: solid 6px #2cb8c3;
    border-bottom: solid 6px #b6509e;
}

.rate--symbol-title-text{
    color: #383d51;
}

.rateData--cell-item{
    display: flex;
    width: 100%;
    font-size: 1.75rem;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content:center;
}

.rateData--cell-item:nth-of-type(2){
    border-right: solid 4px #b6509e;
    border-color: linear-gradient(#b6509e, #9198e5);
}

.rateData--cell-item:nth-of-type(3){
    border-right: solid 4px #2cb8c3;
}

.rateData--cell-item:nth-of-type(4){
    border-right: solid 4px #2cb8c3;
}

.rate--symbol-text{
    color: #ececec;
}

.rateData--lending-title {
    font-size: 2.5rem;
    padding: 20px 20px;
    margin: 0 0px;
    z-index: 2;
    height: 0px;
    color: rgba(245, 245, 245, 0.795);
    position: relative;
    top: 100px;
}

.aave--token-icon{
    height: 50px;
    width: 50px;
    margin: auto;
    padding: auto;
}

.aave-logo--wrapper{
    position: absolute;
    top: 0px;
    height: 8.99vh;
    padding:2vh 0;
    padding-bottom:4vh;
    width: 50%;
    background: #383d51d0;
    text-align: center;
    z-index: 2;
}

.aave-logo--item {
    height: 100%;
    margin: auto;
}

