@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HelveticaNeue-Bold.woff2') format('woff2'),
      url('./assets/fonts/HelveticaNeue-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

p{
  font-size:1rem;
}

h4{
  font-size:1.5rem;
}

.high{
  color:#ececec;
  padding:0;  
  margin:0;
}

.low{
  color:#ececec;
  padding:0;  
  margin:0;
}

.App {
  text-align: center;
  background: transparent;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Helvetica Neue';

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.superRare--wrapper{
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-around;

}

.superRare--container {
  width: 20%;
}

.superRare--container:nth-of-type(1){
  width: 25%;
}

.superRare--image{
  width: 100%;
  height: auto;
}

.coinPrice-text{
  font-size: 100px;
  margin-top: -60px;
  margin-bottom: 0;
}

.coinPrice--layer--container {
  margin-top: 4%;
  font-size: 30px;
  letter-spacing: 10px;
  width: 50%;
  right: 0;
  position: relative;
}

.coinPrice--layer--0 {
  position: relative;
  z-index: 99;
  margin-top: -66px;
  color: #45f5e8;
}

.coinPrice--layer--1 {
  margin: 0;
  margin-left: 0px;
  margin-top: -50px;
  padding: 10px;
  color: #242424e3;
  text-align: center;
  position: relative;
  z-index: 100;
}

.coinPrice--layer--cur{
  margin: 0;
  margin-top: 0px;
  margin-left: 0px;
  margin-top: -20px;
  margin-left: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding: 1rem;
  font-size: 30px;
  /* background-image: linear-gradient( #45f5e8, #d2ea32); */
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  z-index: 100;
  position: relative;
  color: #343636;
  font-size: 1.5rem;
}